<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerPage.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <form>
        <main class="container">
            <h1>Registro</h1>
            <div class="input-box">
                <input placeholder="Nome" type="text" required>
                <i class='bx bx-id-card'></i>
            </div>
            <div class="input-box">
                <input placeholder="Email" type="email" required>
                <i class='bx bx-envelope'></i>
            </div>
            <div class="input-box">
                <input placeholder="Usuário" type="text" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input placeholder="Senha" id="password" type="password" required>
                <span class="toggle-eye" onclick="toggleEye()"><i id="eye-icon" class="bx bxs-hide"></i></span>
            </div>
            <button class="register" type="submit">Registrar</button>
            <div class="login-link">
                <p>Já tem uma conta? <a href="{{url_for('loginpage')}}">Faça login</a></p>
            </div>
        </main>
    </form>

    <script src="{{ url_for('static', filename='javascript/ShowandHide.js') }}"></script>
</body>

</html>